<footer class="app-footer">
   <div class="container">
      <p>&copy; {{ currentDate | date:'Y' }} John Doe. Tous droits réservés.</p>

      <div class="social-icons">
         <!-- Facebook Icon -->
         <a href="#" target="_blank" class="mr-2">
            <i class="fab fa-facebook-f"></i>
         </a>

         <!-- Instagram Icon -->
         <a href="#" target="_blank" class="mr-2">
            <i class="fab fa-instagram"></i>
         </a>

         <!-- Twitter Icon -->
         <a href="#" target="_blank">
            <i class="fab fa-twitter"></i>
         </a>
      </div>

      <ul class="footer-links">
         <li><a href="#">Mentions légales</a></li>
         <li><a href="#">Politique de confidentialité</a></li>
         <li><a routerLink="/contact">Contact</a></li>
      </ul>
   </div>
</footer>
